{
    "trailingComma": "es5",
    "tabWidth": 2,
    "semi": true,
    "singleQuote": true,
    "printWidth": 120,
    "endOfLine":"auto",
    "prettier/prettier": [
        "error",
        {},
        {
        "usePrettierrc": false,
        "singleQuote": true,
        "parser": "flow",
        "fileInfoOptions": {
            "withNodeModules": true
        }
        }
    ]
}
